name: Quality

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # importante para Sonar

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # ---------- Backend tests + coverage ----------
      - name: Install backend
        working-directory: backend
        run: npm ci

      - name: Backend coverage (Jest)
        working-directory: backend
        run: npm run test:cov

      # ---------- Frontend tests + coverage ----------
      - name: Install frontend
        working-directory: frontend
        run: npm ci

      - name: Frontend coverage (Vitest)
        working-directory: frontend
        run: npm run test:cov

      # ---------- SonarCloud ----------
      - name: Setup Java (for Sonar scanner)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectVersion=${{ github.run_number }}
  
